.user {
  gap: vw(12px);
  margin-top: vw(20px);
  &__avatar {
    background: #fff;
    padding: 2px;
    position: relative;
    width: vw(81px);
    height: vw(81px);
    overflow: hidden;
    border-radius: 100px;
    img {
      padding: vw(3px);
      border-radius: 100px;
      position: absolute;
      width: full;
      height: auto;
    }
  }
}
