:root {
  --body-bg: #f2f2f2;
  --black: #000;
  --darkblack: #06090c;
  --white: #fff;
  --lightgray: #f2f2f2;
  --ashgray: #bec3c9;
  --red: #d93f21;
  --ligthsky: #eef5ff;
  --lightblue: #5858fa;
  --darkblue: #150aa1;
  --x-gap: 2.3rem;
  --cursor: 20px;
  --pading-section: 100px;
  --easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easeInOutCirc: cubic-bezier(0.85, 0, 0.15, 1);
}
