span {
	line-height: initial;
	font-size: rem(12px);
	@include min-tablet {
		font-size: rem(12px);
	}
}
p {
	font-size: rem(16px);
	@include min-tablet {
		font-size: rem(16px);
	}
}
a {
	font-size: rem(16px);
	text-decoration: none;
	@include min-tablet {
		font-size: rem(16px);
	}
}
label,
input {
	font-size: rem(18px);
}

h1 {
	font-size: rem(204px);
	line-height: 100%;
	text-align: center;
	display: inline;
	@include min-tablet {
		font-size: rem(156px);
	}
	@include mobile {
		font-size: rem(96px);
	}
}
h2 {
	font-size: rem(84px);
	@include mobile {
		font-size: rem(64px);
	}
}
h3 {
	font-size: rem(64px);
}
h4 {
	font-size: rem(48px);
}
h5 {
	font-size: rem(20px);

	@include min-tablet {
		font-size: rem(24px);
	}
}
